VITE_APPWRITE_ENDPOINT=https://appwrite.letsgo.ctqs.com.br/v1
VITE_APPWRITE_PROJECT_ID=6a197f990028a8d7e383
VITE_APPWRITE_PROJECT_NAME=TMCTQS
VITE_APPWRITE_DATABASE_ID=6a19efe1003445df5374
VITE_APPWRITE_BUCKET_ISSUE_EVIDENCES=issue-evidences
VITE_APPWRITE_COLLECTION_PROJECTS_ID=

APPWRITE_ENDPOINT=https://appwrite.letsgo.ctqs.com.br/v1
APPWRITE_PROJECT_ID=6a197f990028a8d7e383
APPWRITE_DATABASE_ID=6a19efe1003445df5374
APPWRITE_DATABASE_NAME=dbtmctqs
APPWRITE_BUCKET_ISSUE_EVIDENCES=issue-evidences
APPWRITE_API_KEY=
