APPWRITE_ENDPOINT=https://appwrite.letsgo.ctqs.com.br/v1
APPWRITE_PROJECT_ID=6a197f990028a8d7e383
# API Key do Console Appwrite (Settings > API Keys) com scopes: databases, users, teams, storage
APPWRITE_API_KEY=

